# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

jobs:

  test: 

    macos:
      xcode: 11.0.0 # Specify the Xcode version to use

    steps:
      - checkout
      
  deploy: 

    macos:
      xcode: 11.0.0 # Specify the Xcode version to use

    steps:
      - checkout
      
  build: 

    macos:
      xcode: 11.0.0 # Specify the Xcode version to use

    steps:
      - checkout
      
workflows:
  build-test:
    jobs:
      - build:
         filters:  # using regex filters requires the entire branch to match
           branches:
             ignore: main
             
             
      - test:
         requires: 
           - build

              
  build-test-deploy:
    jobs:
      - build:
         filters:  # using regex filters requires the entire branch to match
           branches:
               only: main
             
             
      - test:
         requires: 
           - build

              
      - deploy:
         requires: 
           - test
